{% extends 'layout.html' %}

{% block title %}Blimp API {{apiVersion}}{% endblock %}

{% block content %}

    <div class="inner cover">
        <img class="cover-logo" src="/assets/images/blimp.png" alt="Project Blimp">
        <h1 class="cover-heading">Blimp API <span>{{apiVersion}}</span></h1>
        <p class="lead">The Company Mothership API for all your assets.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-default">Learn more (later)</a>
        </p>
    </div>

{% endblock %}
