<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Blimp{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="/assets/components/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %}
    <link rel="stylesheet" href="/assets/css/main.css">
    {% endblock %}
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Blimp: The API  <span>{{apiVersion}}</span></h3>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a target="_blank" href="https://bitbucket.org/moonio/blimp-services/wiki/Home.md">Documentation</a></li>
                            <li><a target="_blank" href="http://localhost:1337">Try it!</a></li>
                        </ul>
                    </div>
                </div>

                {% block content %}{% endblock %}

                <div class="mastfoot">
                    <div class="inner">
                        <p>&copy; 2014 <a href="http://bitbucket.org/moonio">MoonIO</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/components/jquery/jquery.min.js"></script>
    <script src="/assets/components/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
